@font-face {
  font-family: font1;
  src: url(../../font/font1.ttf);
}
@font-face {
  font-family: font1-semibold;
  src: url(../../font/font1-semibold.ttf);
}
@font-face {
  font-family: font1-italic;
  src: url(../../font/font1-italic.ttf);
}
